@import './utils.less';

body {
    -webkit-font-smoothing: antialiased;
    // .font-s2;       
    .type-light;
    height:100%;
    width:100%;
    -moz-osx-font-smoothing: grayscale; // Firefox font render fix on OSX
    background-color: white;
    // background-color: @color-tintedbeige;
    color: @color-pianodark;
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    // border: 1px solid red; // debugging
}

a {
    color: @color-link;
    .type-regular;
    .font-s2;
     text-decoration: none;
    cursor: pointer;
}

h1 {

}

h2 {
    color: @color-pianobeige;
    .type-extralight;
    .font-m2;
    text-align: center;
    margin-bottom: 1em;
}

h3 {
    .type-concert;
    .font-m1;
}

p {
    color: black;
    // color: @color-pianodark;
    .type-light;
    .font-s2;
}

.columns-2 {
    column-count: 2;
    column-gap: 12px;
    
    p {
        // padding-bottom: 1.2em;
    }
}

.span-block.concert {
    display: flex;

    .day {
        line-height: 2.6em;
        padding-right: 1em;
        width: 9.4em;               
        // color: @color-pianobeige;
        color: @color-text-beige;   
        text-align: center;

        .weekday {
            .font-s2;
            .type-regular;
            text-transform: uppercase;
        }

        .date {
            .font-m3;
        }
    }

    .concert-title {
        .type-concert;
        color: @color-pianobeige;
        // color: @color-text-beige;

        .sub-title {
            .font-s2;
        }

        .title {
            .font-m2;
        }
    }
}