<template name='LayoutWithHeader'>
    <div class='page-layout with-compact-header'>
    layout with header...
<!--         <div class="header compact">
            {{>yield 'header-color'}}

            <div class='header-content'>
                <ul class='breadcrumbs'>
                    <li class='link-to-homepage'>
                        {{#linkTo route='homepage'}}
                        {{/linkTo}}
                    </li>
                    {{>yield 'breadcrumbs-with-title'}}
                </ul>

                <ul class="tools">
                    {{>yield 'tools'}}
                </ul>

                <ul class="links">
                    {{>yield 'links'}}
                </ul>
            </div>
        </div>
        <div class='page-content'>
            {{>yield}}
        </div> -->
    </div>
</template>
