<template name='LayoutWithHeader'>
    <div class='page-layout with-compact-header'>
        <div class="header banner">
            <div class='empty'></div>
            <div class='navigation-area'>
                <a href=' ' class='logo' alt='Pianosalon Christophori'></a>
                <ul class='nav-main'>
                    <!-- {{>yield 'nav-main'}}         -->
                    <li class='active'><a href='/'>Willkommen</a></li>
                    <li><a href='/tradition'>Tradition</a></li>
                    <li><a href='/workshop'>Werkstatt</a></li>
                    <li><a href='/concerts'>Konzerte</a></li>
                    <li><a href='/recordings'>Mitschnitte</a></li>
                    <li><a href='/contact'>Kontakte</a></li>
                </ul>
            </div>
        </div>
        <div class='page-content'>
            {{>yield}}
        </div>
    </div>
</template>
